# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# SSH Keys
id_rsa
id_rsa.pub

# Dependency directories
node_modules/
package-lock.json
dist/
dist-ssr/
*.local

# Build output
build/
.next/
out/
.cache/
.tmp/

# Testing
coverage/
*.lcov

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel / Netlify
.vercel/
.netlify/

# Storybook
storybook-static/

# Misc
*.tsbuildinfo
